.about {
  @include flex(column, center, center);
  // display: flex;
  // flex-direction: column;
  gap: 20px;
  margin: 0 100px 100px 100px;
  padding: 0 100px;
}

.aboutCollapse {
  width: 100%;
  height: 52px;
  background: $color-1;
  border-radius: 5px;
  margin: auto;
}

@media (max-width: 500px) {
  .about {
    margin: 20px;
    padding: 0;
  }
}
