.error {
  @include flex(column, center, center);
  & p {
    font-size: 288px;
    font-weight: 700;
    color: $color-1;
    margin: 150px 0;
  }
  & span {
    @include font-size-weight(36px);
    color: $color-1;
    margin-bottom: 150px;
  }
}

#linkError {
  @include font-size-weight(18px);
  color: $color-1;
  margin-bottom: 150px;
}

@media (max-width: 500px) {
  .error {
    & p {
      font-size: 96px;
    }
    & span {
      @include font-size-weight(18px);
      text-align: center;
    }
  }
  #linkError {
    @include font-size-weight(14px);
  }
}
