.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 288px;
    font-weight: 700;
    color: $color-1;
    margin: 150px 0;
  }
  & span {
    font-size: 36px;
    font-weight: 500;
    color: $color-1;
    margin-bottom: 150px;
  }
}

#linkError {
  font-size: 18px;
  font-weight: 500;
  color: $color-1;
  margin-bottom: 150px;
}
