.logement {
  position: relative;
  @include flex(column, center, flex-start);
  margin: 0 100px 50px 100px;
  @media (max-width: 500px) {
    margin: 0 20px 30px 20px;
  }

  & h2 {
    margin-top: 30px;
    color: $color-1;
    @include font-size-weight(36px);
    @media (max-width: 500px) {
      margin-top: 15px;
      @include font-size-weight(18px);
    }
  }

  &__infos {
    width: 100%;
    @include flex(row, space-between, center);
    @media (max-width: 500px) {
      @include flex(column, flex-start, flex-start);
      &__hostrating {
        @media (max-width: 500px) {
          @include flex(row-reverse, space-between, center);
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    &__text {
      @include flex(column, flex-start, flex-start);
      &__location {
        margin-top: 5px;
        color: $color-1;
        @include font-size-weight(18px);
        @media (max-width: 500px) {
          margin-top: 10px;
          @include font-size-weight(14px);
        }
      }
    }
  }
}
