.imageHome {
  @include flex(row, center, center);
  position: relative;
  margin-bottom: 50px;

  & img {
    height: 223px;
    width: 100%;
    margin: 0 100px;
    border-radius: 25px;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    object-fit: cover;
  }
  & span {
    position: absolute;
    top: 80px;
    color: $color-3;
    @include font-size-weight(48px);
  }
}

@include br-none(none);

@media (max-width: 500px) {
  .imageHome {
    @include flex(row, flex-start, center);
    margin-bottom: 0;
    & img {
      margin: 0 20px;
      width: 92%;
      height: 111px;
    }
    & span {
      top: 30px;
      left: 40px;
      @include font-size-weight(24px);
    }
  }

  @include br-none(block);
}
