.carrousel {
  @include flex(column, center, center);
  width: 100%;
  &__image {
    height: 415px;
    width: 100%;
    position: relative;
  }
  &__wrap img {
    height: 80px;
    width: 47px;
    position: absolute;
    top: 170px;
    cursor: pointer;
  }
  &__counter {
    &__active {
      position: absolute;
      left: 845px;
      top: 370px;
      color: $color-3;
      @include font-size-weight(18px);
    }
  }
}

.arrow-left {
  left: 30px;
}

.arrow-right {
  right: 30px;
}
