.collapse {
  &__block {
    color: $color-3;
    @include flex(row, space-between, flex-start);
    padding: 20px 15px;
  }

  &__title {
    & h3 {
      color: $color-3;
      @include font-size-weight(24px);
    }
  }
  &__hidden {
    visibility: hidden;
  }

  &__text {
    color: $color-1;
    // background: #f6f6f6;
    background: blue;
    padding: 10px;
    height: auto;
    visibility: visible;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out,
      height 0.2s ease-in-out;
  }
}

.arrow {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @media (max-width: 500px) {
    width: 16px;
  }
  &__up {
    transform: rotate(0deg);
  }

  &__down {
    transform: rotate(180deg);
  }
}
