.footer {
  @include flex(column, center, center);
  background-color: $color-4;
  height: 209px;
  gap: 40px;
  &__image {
    @include flex(row, center, center);
  }
  & span {
    color: $color-3;
    @include flex(row, center, center);
    @include font-size-weight(24px);
    @media (max-width: 500px) {
      text-align: center;
    }
  }
}

@include br-none(none);

@media (max-width: 500px) {
  @include br-none(block);
}
