.footer {
  @include flex(column, center, center);
  background-color: $color-4;
  height: 209px;
  gap: 40px;
  & span {
    color: $color-3;
    @include flex(row, center, center);
    @include font-size-weight(24px);
  }
}

.imageFooter {
  @include flex(row, center, center);
}

@include br-none(none);

@media (max-width: 500px) {
  .footer span {
    text-align: center;
  }

  @include br-none(block);
}
