.footer {
  @include flex(column, center, center);
  background-color: #000000;
  height: 209px;
  gap: 40px;
  & span {
    color: $color-3;
    @include flex(row, center, center);
    @include font-size-weight(24px);
  }
}

.imageFooter {
  @include flex(row, center, center); // display: flex;
  // justify-content: center;
  // align-items: center;
}

.brNone {
  display: none;
}

@media (max-width: 500px) {
  .footer span {
    text-align: center;
  }
  .brNone {
    display: block;
  }
}
