.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imageNavigation {
  margin-left: 100px;
}

.linksNavigation {
  display: flex;
  align-items: flex-end;
  margin-right: 100px;
  gap: 57px;
  & a {
    text-decoration: none;
    color: $color-1;
    font-size: 24px;
    font-weight: 500;
  }
}

.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 0;
    background: $color-1;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}
