.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.imageNavigation {
  margin-left: 100px;
}

.linksNavigation {
  display: flex;
  align-items: center;
  margin-right: 100px;
  gap: 57px;
  & a {
    text-decoration: none;
    color: $color-1;
    font-size: 24px;
    font-weight: 500;
  }
}

.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 0;
    background: $color-1;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
  .header {
    position: relative;
    // gap: 21.5%;
    margin: 20px 20px 30px 20px;
  }

  .imageNavigation {
    margin: 0;
    & img {
      width: 145px;
      height: 47px;
    }
  }

  .linksNavigation {
    position: absolute;
    top: 20px;
    right: 40px;
    align-items: center;
    margin-right: 0;
    gap: 26px;
    & a {
      font-size: 12px;
    }
  }
}
