.tag {
  @include flex(row, flex-start, center);
  gap: 10px;
  margin: 20px 0;
  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
  &__value {
    @include flex(row, center, center);
    @include font-size-weight(14px);
    background: $color-1;
    color: $color-3;
    padding: 5px 5px;
    border-radius: 10px;
    height: 25px;
    width: 115px;
    text-align: center;
    @media (max-width: 500px) {
      @include font-size-weight(10px);
      height: 18px;
      width: 84px;
    }
  }
}
